<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="pinterest.css">
</head>
<body>
    <ul>
        <li>
            <img src="cat1.jpg" alt="">
            <p>가</p>
        </li>
        <li>
            <img src="cat2.jpg" alt="">
            <p>나</p>
        </li>
        <li>
            <img src="cat3.jpg" alt="">
            <p>다</p>
        </li>
        <li>
            <img src="cat4.jpg" alt="">
            <p>라</p>
        </li>
        <li>
            <img src="cat5.jpg" alt="">
            <p>마</p>
        </li>
        <li>
            <img src="cat6.jpg" alt="">
            <p>바</p>
        </li>
    </ul>
</body>
</html>