<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="new.css">
    <link rel="stylesheet" href="../navbar/nabar/navbar.css">
    <link rel="stylesheet" href="../photobox/photobox.css">
</head>
<body>
    <div class="basic-new">
        <div class="image-box">
            <img src="https://ably.team/images/Logo.svg" alt="로고">
        </div>
        <ul class="basic-new">
            <li><a href="#">예습</a></li>
            <li><a href="#">시작</a></li>
            <li><a href="#">점검</a></li>
            <li><a href="#">복습</a></li>
            <li><a href="#">마무리</a></li>
        </ul>
    </div>

    <section class="container">

        <div class="text-box">
            <h2>메가스터디 최고의 강사

            </h2>
            <p>현우진</p>
        </div>
        <div class="image-box">
            <img src="cat1.jpg" alt="">
        </div>

    </section>


</body>
</html>