.box{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    opacity: 0;
    animation-name: abc;
    animation-duration: 3s;
    /* 최종상태유지 */
    animation-fill-mode: forwards;
}

@keyframes  abc {
    0%{opacity: 0;background-color: #6699ff;border-radius: 0px; transfrom: translatex(0px);}
    50%{opacity: 0.5; background-color:#9999ff;border-radius: 25px; transfrom: translatex(100px);}
    100%{opacity: 1; background-color:#66ffcc; border-radius: 50px; transfrom: translatex(200px);}
}

