.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    transition-property: box-shadow;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(.99,0,.01,.98);
   
}
.box:hover{
  
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


