<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="photobox.css">
</head>
<body>
    <section class="container">
        <div class="image-box">
            <img src="cat.jpg" alt="">
        </div>

        <div class="text-box">
            <h2>메가스터디 최고의 강사

            </h2>
            <p>현우진</p>
        </div>

    </section>
</body>
</html>