@mixin navbar($color, $color-hover, $font-size){
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
li{
    padding: 20px 10px;
    a{
        color: $color;
        text-decoration: none;
        text-align: center;
        font-size: $font-size;
        transition: all 0.3s;
        font-weight: bold;
        &:hover{
            color: $color-hover;
        }
    }   

}
}

.navbar{
    @include navbar(
        white, deepskyblue, 24px)
}


